<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>{{contents}}</p>
  <form class="comment-form">
    <label for="comment">
      Comment:
    </label>
    <br />
    <textarea id="comment" name="comment" rows="5" cols="30">
      {{comment}}
    </textarea>
    <br />
    <button type="submit" value="Submit">
      Submit!
    </button>
  </form>
</div>
