<div class="text-center">
  <h2>{{post.title}}</h2>
  <p>Post created by {{user.name}} on {{format_date create_date}}</p>
  <p>{{post.contents}}</p>

  <form comment-id="{{id}}" post-id="{{post.id}}" class="form update-comment-form">
    <label for="comment">
    Update comment:
    </label>
    <br />
    <input value="{{comment}}" id="update-comment" name="comment" rows="5" cols="30">
    </input>
    <br />
    <button type="submit" value="Submit">
    Update
    </button>
  </form>
</div>

<script src="/js/update-comment.js"></script>